.visit-ui-1-icon23,
.visit-ui-2-icon23 {
  position: absolute;
  top: -26.844rem;
  left: 11.119rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon23 {
  top: 1.069rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.213rem;
}
.visit-ui-2-parent20 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.visit-ui-2-icon24 {
  position: absolute;
  top: -18.312rem;
  left: 14.219rem;
  width: 7.106rem;
  height: 38.988rem;
  object-fit: contain;
}
.firebolt-1-1-icon2,
.visit-ui-1-icon24 {
  position: absolute;
  top: 1.106rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.181rem;
  object-fit: contain;
}
.firebolt-1-1-icon2 {
  top: 1.081rem;
  width: 12.494rem;
  height: 58.619rem;
  object-fit: cover;
}
.visit-ui-2-parent21 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 2;
}
.visit-ui-1-icon25,
.visit-ui-2-icon25 {
  position: absolute;
  top: -10.669rem;
  left: 13.769rem;
  width: 7.119rem;
  height: 39.063rem;
  object-fit: contain;
}
.visit-ui-1-icon25 {
  top: 1.563rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.113rem;
}
.visit-ui-2-parent22 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 3;
}
.visit-ui-1-icon26,
.visit-ui-2-icon26 {
  position: absolute;
  top: -26.844rem;
  left: 11.119rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon26 {
  top: 1.475rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.794rem;
}
.visit-ui-2-parent23 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 4;
}
.visit-ui-1-icon27,
.visit-ui-2-icon27 {
  position: absolute;
  top: -26.844rem;
  left: 11.119rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon27 {
  top: 1.475rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.794rem;
}
.visit-ui-2-parent24 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 5;
}
.visit-ui-1-icon28,
.visit-ui-2-icon28 {
  position: absolute;
  top: -26.844rem;
  left: 11.119rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon28 {
  top: 1.475rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.794rem;
}
.visit-ui-2-parent25 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  border-radius: 9.44px;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 6;
}
.visit-ui-1-icon29,
.visit-ui-2-icon29 {
  position: absolute;
  top: -26.844rem;
  left: 11.119rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon29 {
  top: 1.475rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.794rem;
}
.visit-ui-2-parent26 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 7;
}
.visit-ui-1-icon30,
.visit-ui-2-icon30 {
  position: absolute;
  top: -18.312rem;
  left: 14.219rem;
  width: 7.106rem;
  height: 38.988rem;
  object-fit: contain;
}
.visit-ui-1-icon30 {
  top: 1.106rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.181rem;
}
.visit-ui-2-parent27 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 8;
}
.visit-ui-1-icon31,
.visit-ui-2-icon31 {
  position: absolute;
  top: -26.844rem;
  left: 11.119rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon31 {
  top: 1.475rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.794rem;
}
.visit-ui-2-parent28 {
  width: 22.131rem;
  height: 17.656rem;
  position: relative;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 9;
}
.visit-ui-1-icon32,
.visit-ui-2-icon32 {
  position: absolute;
  top: -18.219rem;
  left: 14.113rem;
  width: 6.963rem;
  height: 38.206rem;
  object-fit: contain;
}
.visit-ui-1-icon32 {
  top: 1.563rem;
  left: 0.988rem;
  width: 12.594rem;
  height: 68.113rem;
}
.visit-ui-2-parent29 {
  width: 22.131rem;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  display: none;
  max-width: 100%;
  z-index: 10;
}
.svg-icon8,
.talk-with-team3,
.visit-ui-2-parent29 {
  position: relative;
  flex-shrink: 0;
}
.talk-with-team3 {
  width: 9.688rem;
  letter-spacing: -0.26px;
  line-height: 1.625rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.svg-icon8 {
  height: 1.056rem;
  width: 1.056rem;
  overflow: hidden;
}
.link10 {
  width: 10.75rem;
  height: 2.875rem;
  background: linear-gradient(90deg, #204bf2 9.31%, #458dec 52.46%, #6ed6e5);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-7xs-3) var(--padding-5xs-4);
  box-sizing: border-box;
  gap: var(--gap-6xs-3);
  white-space: nowrap;
  z-index: 11;
  text-align: right;
  font-size: var(--font-size-base-5);
  font-family: var(--font-dm-sans);
}
.divprimary-cta-deco-line4 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #fb8b23, #f2582c);
  height: 100%;
}
.divprimary-cta-deco-wrap4 {
  position: absolute;
  width: calc(100% + 0.2px);
  top: 0;
  right: -0.012rem;
  left: 0;
  height: 0.1rem;
  overflow: hidden;
  display: none;
}
.divprimary-cta-deco-line5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #fb8b23, #f2582c);
  height: 100%;
}
.divprimary-cta-deco-wrap5 {
  position: absolute;
  width: calc(100% + 0.2px);
  top: 28.094rem;
  right: -0.012rem;
  left: 0;
  height: 0.1rem;
  overflow: hidden;
  display: none;
}
.divprimary-cta-gradient2 {
  position: absolute;
  height: 100.22%;
  width: 35.22%;
  top: -0.11%;
  right: 64.78%;
  bottom: -0.11%;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 34%,
    rgba(0, 0, 0, 0.64) 48%,
    transparent 65%
  );
  display: none;
}
.my-name-is4 {
  margin: 0;
  font-weight: 500;
}
.your4 {
  font-weight: 500;
  white-space: pre-wrap;
}
.design-manager4,
.your4 {
  font-family: var(--font-manrope);
}
.will-answer-all4 {
  font-weight: 500;
  white-space: pre-wrap;
}
.your-design-manager-will-ans4 {
  margin: 0;
}
.my-name-is-container8 {
  width: 100%;
}
.ask-questions4,
.my-name-is-container7 {
  position: absolute;
  display: flex;
  align-items: center;
}
.my-name-is-container7 {
  top: 10.425rem;
  left: calc(50% - 183px);
  letter-spacing: -1.22px;
  line-height: 2.554rem;
  width: 22.881rem;
  height: 7.688rem;
}
.ask-questions4 {
  top: 1.138rem;
  left: 2.506rem;
  letter-spacing: 0.61px;
  line-height: 1.825rem;
  width: 8.938rem;
  height: 1.825rem;
}
.svg-icon9 {
  top: calc(50% - 12.15px);
  left: calc(50% + 68.3px);
  width: 1.519rem;
  height: 1.519rem;
  object-fit: cover;
}
.container-icon4,
.link11,
.svg-icon9 {
  position: absolute;
  overflow: hidden;
}
.link11 {
  top: 21.144rem;
  left: 5.019rem;
  border-radius: 48.65px;
  background-color: var(--neutral-colors-100);
  border: 1.2px solid var(--neutral-colors-100);
  box-sizing: border-box;
  width: 16.6rem;
  height: 4.106rem;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-lgi-5);
  color: var(--color-gray-1600);
  font-family: var(--font-inter);
}
.container-icon4 {
  top: 1.644rem;
  left: 9.944rem;
  border-radius: 54.73px;
  width: 6.844rem;
  height: 6.844rem;
  object-fit: cover;
}
.my-name-is-aravind-your-desig-parent1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 34rem;
  background-color: var(--color-gray-1400);
  width: 26.738rem;
  overflow: hidden;
}
.eee9d27c1241a14134c1f4-primary4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-image: url(/public/65eee9d27c1241a14134c1f4-primarycta-imagewebp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.my-name-is5 {
  margin: 0;
  font-weight: 500;
}
.your5 {
  font-weight: 500;
  white-space: pre-wrap;
}
.design-manager5,
.your5 {
  font-family: var(--font-manrope);
}
.will-answer-all5 {
  font-weight: 500;
  white-space: pre-wrap;
}
.your-design-manager-will-ans5 {
  margin: 0;
}
.my-name-is-container10 {
  width: 100%;
}
.ask-questions5,
.my-name-is-container9 {
  position: absolute;
  display: flex;
  align-items: center;
}
.my-name-is-container9 {
  top: 11.475rem;
  left: calc(50% - 179px);
  letter-spacing: -1.19px;
  line-height: 2.497rem;
  width: 22.363rem;
  height: 7.5rem;
}
.ask-questions5 {
  top: 1.113rem;
  left: 2.45rem;
  letter-spacing: 0.59px;
  line-height: 1.784rem;
  width: 8.738rem;
  height: 1.781rem;
}
.svg-icon10 {
  top: calc(50% - 11.9px);
  left: calc(50% + 66.8px);
  width: 1.488rem;
  height: 1.488rem;
  object-fit: cover;
}
.container-icon5,
.link12,
.svg-icon10 {
  position: absolute;
  overflow: hidden;
}
.link12 {
  top: 21.95rem;
  left: 4.906rem;
  border-radius: 47.56px;
  background-color: var(--neutral-colors-100);
  border: 1.2px solid var(--neutral-colors-100);
  box-sizing: border-box;
  width: 16.225rem;
  height: 4.013rem;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-1600);
  font-family: var(--font-inter);
}
.container-icon5 {
  top: 2.888rem;
  left: 9.719rem;
  border-radius: 53.51px;
  width: 6.688rem;
  height: 6.688rem;
  object-fit: cover;
}
.my-name-is-aravind-your-desig-parent2 {
  position: absolute;
  top: -0.7rem;
  left: 35.563rem;
  background-color: var(--color-gray-1700);
  width: 26.15rem;
  height: 28.838rem;
  overflow: hidden;
}
.image-icon8,
.image-icon9 {
  position: absolute;
  width: 68.42%;
  top: -5.125rem;
  right: 76.46%;
  left: -44.89%;
  max-width: 100%;
  overflow: hidden;
  height: 35rem;
  object-fit: cover;
}
.image-icon9 {
  top: -2.625rem;
  right: -46.56%;
  left: 78.14%;
}
.eee9d27c1241a14134c1f4-primary5 {
  position: absolute;
  height: 102.66%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -2.66%;
  left: 0;
  overflow: hidden;
  background-image: url(/public/65eee9d27c1241a14134c1f4-primarycta-imagewebp1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-9xl-5);
}
.macbook-pro-14-55-child,
.section2 {
  position: relative;
  display: none;
  max-width: 100%;
}
.section2 {
  width: 97.188rem;
  height: 28.188rem;
  background-color: var(--color-black);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 12;
  font-size: var(--font-size-10xl-2);
  font-family: var(--font-manrope);
}
.macbook-pro-14-55-child {
  width: 76.438rem;
  height: 4.75rem;
  background-color: var(--color-gray-800);
  z-index: 13;
}
.website-ui2 {
  position: relative;
  line-height: 1.75rem;
  display: inline-block;
  min-width: 5.188rem;
}
.frame4 {
  height: 2.688rem;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-1200);
  border: 1px solid var(--color-paleturquoise);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
  white-space: nowrap;
  z-index: 14;
  font-size: var(--font-size-mini);
  font-family: var(--font-sora);
}
.appsaas-design2 {
  position: relative;
  line-height: 1.75rem;
  white-space: pre-wrap;
}
.appsaas-design-frame,
.frame5 {
  width: 10.688rem;
  border-radius: var(--br-5xs);
}
.appsaas-design-frame {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-600);
  height: 2.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
  box-sizing: border-box;
  white-space: nowrap;
}
.frame5 {
  height: 2.688rem;
  position: relative;
  display: none;
  z-index: 15;
}
.graphic-design2 {
  position: relative;
  line-height: 1.75rem;
  display: inline-block;
  min-width: 6.938rem;
}
.graphic-design-frame {
  width: 9.313rem;
  height: 2.688rem;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-600);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 16;
}
.corporate-newsletter2 {
  flex: 1;
  position: relative;
  line-height: 1.75rem;
}
.corporate-newsletter-frame {
  width: 12.25rem;
  height: 2.688rem;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-600);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 17;
}
.visit-ui-1-icon33,
.visit-ui-2-icon33 {
  position: absolute;
  top: -26.844rem;
  left: 11.119rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon33 {
  top: 1.475rem;
  left: 0.888rem;
  width: 12.594rem;
  height: 68.794rem;
}
.frame-child17,
.visit-ui-2-parent30 {
  position: relative;
  display: none;
  max-width: 100%;
}
.visit-ui-2-parent30 {
  width: 22.131rem;
  height: 17.656rem;
  border-radius: 9.44px;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 18;
}
.frame-child17 {
  height: 3.063rem;
  width: 94.5rem;
  background: linear-gradient(90deg, #204bf2 9.31%, #458dec 52.46%, #6ed6e5);
}
.free2 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 3.063rem;
}
.background-container,
.background2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background2 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-1800);
  flex-direction: row;
  padding: var(--padding-12xs-5) var(--padding-5xs);
  z-index: 1;
}
.background-container {
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-xs) 0 0;
}
.schedule-a-call2 {
  width: 20.438rem;
  position: relative;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  max-width: 108%;
  flex-shrink: 0;
  z-index: 1;
}
.schedule-a-call-with-design-ma-container {
  width: 19.063rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.frame-child18 {
  width: 2.188rem;
  height: 2.188rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.ellipse-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.connect-now3 {
  position: relative;
  text-decoration: underline;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 7.313rem;
  z-index: 1;
}
.connect-now-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-9xs) 0 0;
  color: var(--color-gray-100);
}
.frame-child19 {
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  z-index: 1;
}
.frame-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.frame-parent24,
.rectangle-parent9 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.rectangle-parent9 {
  background: linear-gradient(90deg, #204bf2 9.31%, #458dec 52.46%, #6ed6e5);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xl);
  row-gap: 20px;
  text-align: left;
  font-family: var(--font-sora);
}
.frame-parent24 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-62xl);
}
.we-delivered-our1 {
  margin: 0;
}
.next-for-you {
  font-family: var(--font-sora);
  color: var(--color-paleturquoise);
}
.promises-next-for-you {
  margin: 0;
}
.we-delivered-our-container2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -2.08px;
  line-height: 3.413rem;
  font-family: inherit;
}
.we-delivered-our2 {
  margin: 0;
}
.next-for-you1 {
  font-family: var(--font-sora);
  color: var(--color-paleturquoise);
}
.promises-next-for-you1 {
  margin: 0;
}
.we-delivered-our-container3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -2.08px;
  line-height: 3.413rem;
  z-index: 1;
  margin-top: -6.813rem;
  font-family: inherit;
}
.we-delivered-our-promises-nex-parent {
  width: 38.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.talk-with-team4 {
  position: relative;
  font-size: var(--font-size-base-5);
  letter-spacing: -0.26px;
  line-height: 1.625rem;
  display: inline-block;
  font-family: var(--font-dm-sans);
  color: var(--neutral-colors-100);
  text-align: right;
  min-width: 7.188rem;
}
.svg-icon11 {
  width: 1.056rem;
  height: 1.056rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.image-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.image-container,
.link13,
.manager-name {
  display: flex;
  align-items: flex-start;
}
.link13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-8) var(--padding-base-9) var(--padding-2xs-2);
  background-color: transparent;
  background: linear-gradient(90deg, #204bf2 9.31%, #458dec 52.46%, #6ed6e5);
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-6xs-3);
  z-index: 1;
}
.manager-name {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xl);
}
/* .social-links1 {
  width: 72.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
} */
.horizontal-divider1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.horizontal-divider-parent,
.horizontal-divider1,
.horizontal-divider2 {
  border-top: 1px solid var(--color-dimgray-700);
  box-sizing: border-box;
}
.horizontal-divider2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.horizontal-divider-parent {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
}
.contact-items-child {
  height: 4.75rem;
  width: 76.438rem;
  position: relative;
  background-color: var(--color-gray-800);
  display: none;
  max-width: 100%;
}
.website-ui3 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 1.75rem;
  font-family: var(--font-sora);
  color: var(--neutral-colors-100);
  text-align: center;
  display: inline-block;
  min-width: 5.188rem;
}
.symbol-row {
  cursor: pointer;
  border: 1px solid var(--color-paleturquoise);
  padding: var(--padding-7xs) var(--padding-mini);
  background-color: var(--color-gray-1200);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.symbol-row:hover {
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
}
.graphic-design3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.75rem;
  font-family: var(--font-helvetica);
  color: var(--neutral-colors-100);
  text-align: center;
  display: inline-block;
  min-width: 6.938rem;
}
.border-row {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs-5) var(--padding-lgi);
  background-color: var(--color-darkslategray-600);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.border-row1:hover,
.border-row:hover {
  background-color: var(--color-darkslategray-100);
}
.corporate-newsletter3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.75rem;
  font-family: var(--font-helvetica);
  color: var(--neutral-colors-100);
  text-align: center;
}
.border-row1,
.contact-items,
.image-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.border-row1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs-5) var(--padding-mini-5);
  background-color: var(--color-darkslategray-600);
  flex: 1;
  border-radius: var(--br-5xs);
  overflow: hidden;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 7.938rem;
  white-space: nowrap;
  z-index: 3;
}
.contact-items,
.image-row {
  max-width: 100%;
}
.image-row {
  width: 22.438rem;
  justify-content: center;
  gap: var(--gap-sm);
}
.contact-items {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-800);
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-251xl) var(--padding-mini)
    var(--padding-261xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  height: 100%;
  z-index: 2;
}
.appsaas-design3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.75rem;
  font-family: var(--font-helvetica);
  color: var(--neutral-colors-100);
  white-space: pre-wrap;
  text-align: center;
}
.appsaas-design-wrapper1,
.availability {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.appsaas-design-wrapper1 {
  background-color: var(--color-darkslategray-600);
  overflow: hidden;
  padding: var(--padding-6xs) var(--padding-lg);
  white-space: nowrap;
}
.availability {
  cursor: pointer;
  border: 0;
  padding: 0 0 var(--padding-12xs);
  background-color: transparent;
  position: absolute;
  top: 1.125rem;
  left: 25.563rem;
  z-index: 3;
}
.service-items {
  align-self: stretch;
  height: 4.75rem;
  position: relative;
  max-width: 100%;
}
.frame-parent25,
.image-grid {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  max-width: 100%;
}
.image-grid {
  padding: 0 0 var(--padding-12xl-8);
  box-sizing: border-box;
  gap: var(--gap-6xl-4);
  flex-shrink: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-sora);
}
.visit-ui-2-icon34 {
  position: absolute;
  top: 0;
  left: 10.231rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon34 {
  position: absolute;
  top: 28.319rem;
  left: 0;
  width: 12.594rem;
  height: 68.794rem;
  object-fit: contain;
  z-index: 1;
}
.visit-ui-2-parent31 {
  margin-top: -26.844rem;
  height: 97.113rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.ask-container-inner {
  align-self: stretch;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi-8) 0 var(--padding-mini-2);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 4;
}
.heading-3,
.heading-31 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.313rem;
  display: inline-block;
  min-width: 7.625rem;
}
.heading-31 {
  z-index: 1;
  margin-left: -7.625rem;
}
.item-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-32,
.heading-33 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 0.643rem;
}
.heading-33 {
  z-index: 1;
  margin-left: -3.938rem;
}
.email,
.heading-3-my-cpl-from-digita-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.heading-3-my-cpl-from-digita-parent {
  flex: 1;
  justify-content: flex-start;
}
.email {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-10xl) 0 var(--padding-11xl);
  text-align: center;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.heading {
  width: 7.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base-1);
}
.image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
}
.ask-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-4);
  min-width: 16.563rem;
  max-width: 100%;
}
.visit-ui-1-icon35,
.visit-ui-2-icon35 {
  height: 68.113rem;
  width: 12.594rem;
  position: relative;
  object-fit: contain;
}
.visit-ui-2-icon35 {
  margin-top: -12.232rem;
  height: 39.063rem;
  width: 7.119rem;
}
.visit-ui-1-parent {
  align-self: stretch;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-mini-2) 0;
  box-sizing: border-box;
  gap: var(--gap-8xs-7);
  z-index: 1;
}
.heading-34,
.heading-35 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.268rem;
  display: inline-block;
  min-width: 7.575rem;
}
.heading-35 {
  z-index: 1;
  margin-left: -7.575rem;
}
.heading-3-my-cpl-from-digita-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-36,
.heading-37 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 0.643rem;
}
.heading-37 {
  z-index: 1;
  margin-left: -3.938rem;
}
.heading-3-my-cpl-from-digita-container {
  flex: 1;
  flex-direction: row;
}
.frame-parent26,
.frame-wrapper12,
.heading-3-my-cpl-from-digita-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper12 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-1);
  text-align: center;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.frame-parent26 {
  width: 7.575rem;
  flex-direction: column;
  gap: 0.993rem;
}
.ask-container-child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
}
.ask-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-4);
  min-width: 16.563rem;
  max-width: 100%;
}
.visit-ui-2-icon36 {
  position: absolute;
  top: 0;
  left: 10.238rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon36 {
  position: absolute;
  top: 28.319rem;
  left: 0;
  width: 12.594rem;
  height: 68.794rem;
  object-fit: contain;
  z-index: 1;
}
.visit-ui-2-parent32 {
  margin-top: -26.844rem;
  height: 97.113rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.ask-container-inner1 {
  align-self: stretch;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi-7) 0 var(--padding-mini-2);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.heading-38,
.heading-39 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.313rem;
  display: inline-block;
  min-width: 4.75rem;
}
.heading-39 {
  z-index: 1;
  margin-left: -4.75rem;
}
.heading-3-my-cpl-from-digita-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-310,
.heading-311 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 0.643rem;
  display: inline-block;
  min-width: 3.313rem;
}
.heading-311 {
  z-index: 1;
  margin-left: -3.313rem;
}
.frame-wrapper13,
.heading-3-my-cpl-from-digita-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper13 {
  justify-content: flex-end;
  padding: 0 var(--padding-xs-1) 0 var(--padding-xs);
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.frame-parent27 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini-8);
}
.ask-container-inner2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-7xl);
}
.ask-container2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-7);
  min-width: 16.563rem;
  max-width: 100%;
}
.ask-questions6,
.question-s-v-g {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.question-s-v-g {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-44xl-7);
}
.ask-questions6 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-base-3) 0 var(--padding-mid);
  box-sizing: border-box;
}
.visit-ui-2-icon37 {
  position: absolute;
  top: 0;
  left: 10.231rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon37 {
  position: absolute;
  top: 28.319rem;
  left: 0;
  width: 12.594rem;
  height: 68.794rem;
  object-fit: contain;
  z-index: 1;
}
.contact-links {
  margin-top: -26.844rem;
  height: 97.113rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.service-links {
  align-self: stretch;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi-8) 0 var(--padding-mini-2);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.heading-312,
.heading-313 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.268rem;
}
.heading-313 {
  z-index: 1;
  margin-left: -7.575rem;
}
.manager {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-314,
.heading-315 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 0.688rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1.75rem;
}
.heading-315 {
  z-index: 1;
}
.heading-3-my-cpl-from-digita-parent3 {
  height: 0.688rem;
  flex: 1;
  position: relative;
}
.image-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-26xl-9) 0 var(--padding-28xl);
  text-align: left;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.form-image {
  width: 7.575rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base-7);
}
.form-image-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.service-header {
  width: 22.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-4);
  max-width: 100%;
}
.visit-ui-2-icon38 {
  position: absolute;
  top: 0;
  left: 10.238rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon38 {
  position: absolute;
  top: 28.319rem;
  left: 0;
  width: 12.594rem;
  height: 68.794rem;
  object-fit: contain;
  z-index: 1;
}
.visit-ui-2-parent33 {
  margin-top: -26.844rem;
  height: 97.113rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.service-header-inner {
  align-self: stretch;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi-7) 0 var(--padding-mini-2);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.heading-316,
.heading-317 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.268rem;
}
.heading-317 {
  z-index: 1;
  margin-left: -7.575rem;
}
.heading-3-my-cpl-from-digita-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-318,
.heading-319 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 0.688rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1.75rem;
}
.heading-319 {
  z-index: 1;
}
.heading-3-my-cpl-from-digita-parent5 {
  height: 0.688rem;
  flex: 1;
  position: relative;
}
.frame-wrapper14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-27xl) 0 var(--padding-28xl);
  text-align: left;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.frame-parent28 {
  width: 7.575rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base-7);
}
.service-header-child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.service-header1 {
  width: 22.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-4);
  max-width: 100%;
}
.visit-ui-1-icon39,
.visit-ui-2-icon39 {
  height: 68.181rem;
  width: 12.594rem;
  position: relative;
  object-fit: contain;
}
.visit-ui-2-icon39 {
  margin-top: -19.419rem;
  height: 38.988rem;
  width: 7.106rem;
}
.visit-ui-1-group {
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid-7) var(--padding-smi-9) 0 var(--padding-mini-3);
  box-sizing: border-box;
  gap: var(--gap-xs-7);
  z-index: 1;
}
.heading-320,
.heading-321 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.268rem;
}
.heading-321 {
  z-index: 1;
  margin-left: -7.575rem;
}
.heading-3-my-cpl-from-digita-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-322,
.heading-323 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 0.688rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1.75rem;
}
.heading-323 {
  z-index: 1;
}
.heading-3-my-cpl-from-digita-parent7 {
  height: 0.688rem;
  flex: 1;
  position: relative;
}
.frame-wrapper15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-27xl) 0 var(--padding-28xl);
  text-align: left;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.frame-parent29 {
  width: 7.575rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base-7);
}
.service-header-inner1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
}
.service-header2 {
  width: 22.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-4);
  max-width: 100%;
}
.visit-ui-1-icon40 {
  position: absolute;
  top: 0.025rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.firebolt-1-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.494rem;
  height: 58.619rem;
  object-fit: cover;
  z-index: 1;
}
.visit-ui-1-container {
  height: 68.206rem;
  flex: 1;
  position: relative;
}
.visit-ui-2-icon40 {
  margin-top: -19.401rem;
  height: 38.988rem;
  width: 7.106rem;
  position: relative;
  object-fit: contain;
}
.frame-parent30 {
  align-self: stretch;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid-3) var(--padding-smi-9) 0 var(--padding-mini-2);
  box-sizing: border-box;
  gap: var(--gap-xs-8);
  z-index: 2;
}
.heading-324,
.heading-325 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.268rem;
}
.heading-325 {
  z-index: 1;
  margin-left: -7.575rem;
}
.heading-3-my-cpl-from-digita-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-326,
.heading-327 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 0.688rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1.75rem;
}
.heading-327 {
  z-index: 1;
}
.heading-3-my-cpl-from-digita-parent9 {
  height: 0.688rem;
  flex: 1;
  position: relative;
}
.frame-wrapper16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-26xl-9) 0 var(--padding-28xl);
  text-align: left;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.frame-parent31 {
  width: 7.575rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base-6);
}
.service-header-inner2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
}
.service-header3 {
  width: 22.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-4);
  max-width: 100%;
}
.visit-ui-2-icon41 {
  position: absolute;
  top: 0;
  left: 10.238rem;
  width: 10.213rem;
  height: 56.056rem;
  object-fit: contain;
}
.visit-ui-1-icon41 {
  position: absolute;
  top: 27.919rem;
  left: 0;
  width: 12.594rem;
  height: 68.213rem;
  object-fit: contain;
  z-index: 1;
}
.visit-ui-2-parent34 {
  margin-top: -26.85rem;
  height: 96.131rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.service-header-inner3 {
  align-self: stretch;
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi-7) 0 var(--padding-mini-2);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.heading-328,
.heading-329 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.268rem;
}
.heading-329 {
  z-index: 1;
  margin-left: -7.575rem;
}
.heading-3-my-cpl-from-digita-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-330,
.heading-331 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 0.688rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1.75rem;
}
.heading-331 {
  z-index: 1;
}
.heading-3-my-cpl-from-digita-parent11 {
  height: 0.688rem;
  flex: 1;
  position: relative;
}
.frame-wrapper17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-27xl) 0 var(--padding-28xl);
  text-align: left;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.frame-parent32 {
  width: 7.575rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base-6);
}
.service-header-inner4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
}
.service-header4 {
  width: 22.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-4);
  max-width: 100%;
}
.visit-ui-1-icon42,
.visit-ui-2-icon42 {
  height: 68.113rem;
  width: 12.594rem;
  position: relative;
  object-fit: contain;
}
.visit-ui-2-icon42 {
  margin-top: -19.782rem;
  height: 38.206rem;
  width: 6.963rem;
}
.visit-ui-1-parent1 {
  height: 17.656rem;
  background-color: var(--neutral-colors-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0.987rem 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-6);
  z-index: 1;
}
.heading-332,
.heading-333 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.268rem;
  display: inline-block;
  max-width: 100%;
}
.heading-333 {
  z-index: 1;
  margin-left: -22.132rem;
}
.heading-3-my-cpl-from-digita-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.heading-334,
.heading-335 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 0.688rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1.75rem;
}
.heading-335 {
  z-index: 1;
}
.social-media {
  height: 0.688rem;
  width: 1.75rem;
  position: relative;
}
.contact-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-2xs-7);
  color: var(--color-darkgray-200);
}
.frame-parent33,
.service-header5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent33 {
  align-self: stretch;
  align-items: flex-end;
  gap: 0.993rem;
}
.service-header5 {
  width: 22.125rem;
  align-items: flex-start;
  gap: var(--gap-11xl-6);
}
.available-for-work,
.work {
  flex-direction: row;
  align-items: flex-start;
}
.work {
  width: 74.356rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3.775rem 3.856rem;
  min-height: 48.75rem;
  max-width: 100%;
}
.available-for-work {
  justify-content: flex-end;
  padding: 0 var(--padding-base-3) 0 var(--padding-mid);
  flex-shrink: 0;
  text-align: center;
}
.available-for-work,
.footer-links,
.social-icons1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.footer-links {
  height: 94.094rem;
  width: 76.438rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-822xl-1);
  gap: var(--gap-42xl-2);
}
.social-icons1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-6xl) var(--padding-107xl-9) var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--neutral-colors-100);
  font-family: var(--font-inter);
}
.divprimary-cta-deco-line6 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #fb8b23, #f2582c);
  height: 100%;
}
.divprimary-cta-deco-wrap6 {
  position: absolute;
  width: calc(100% + 0.2px);
  top: 0;
  right: -0.012rem;
  left: 0;
  height: 0.1rem;
  overflow: hidden;
  display: none;
}
.divprimary-cta-deco-line7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #fb8b23, #f2582c);
  height: 100%;
}
.divprimary-cta-deco-wrap7 {
  position: absolute;
  width: calc(100% + 0.2px);
  top: 28.094rem;
  right: -0.012rem;
  left: 0;
  height: 0.1rem;
  overflow: hidden;
  display: none;
}
.divprimary-cta-gradient3 {
  position: absolute;
  height: 100.22%;
  width: 35.22%;
  top: -0.11%;
  right: 64.78%;
  bottom: -0.11%;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 34%,
    rgba(0, 0, 0, 0.64) 48%,
    transparent 65%
  );
  display: none;
}
.my-name-is6 {
  margin: 0;
  font-weight: 500;
}
.your6 {
  font-weight: 500;
  white-space: pre-wrap;
}
.design-manager6,
.your6 {
  font-family: var(--font-manrope);
}
.will-answer-all6 {
  font-weight: 500;
  white-space: pre-wrap;
}
.your-design-manager-will-ans6 {
  margin: 0;
}
.my-name-is-container12 {
  width: 100%;
}
.ask-questions7,
.my-name-is-container11 {
  position: absolute;
  display: flex;
  align-items: center;
}
.my-name-is-container11 {
  top: 10.425rem;
  left: calc(50% - 183px);
  letter-spacing: -1.22px;
  line-height: 2.554rem;
  width: 22.881rem;
  height: 7.688rem;
}
.ask-questions7 {
  top: 1.138rem;
  left: 2.506rem;
  font-size: var(--font-size-lgi-5);
  letter-spacing: 0.61px;
  line-height: 1.825rem;
  font-family: var(--font-inter);
  color: var(--color-gray-1600);
  text-align: left;
  width: 8.938rem;
  height: 1.825rem;
}
.svg-icon12 {
  top: calc(50% - 12.15px);
  left: calc(50% + 68.3px);
  width: 1.519rem;
  height: 1.519rem;
  object-fit: cover;
}
.container-icon6,
.link14,
.svg-icon12 {
  position: absolute;
  overflow: hidden;
}
.link14 {
  cursor: pointer;
  border: 1.2px solid var(--neutral-colors-100);
  padding: 0;
  background-color: var(--neutral-colors-100);
  top: 21.144rem;
  left: 5.019rem;
  border-radius: 48.65px;
  box-sizing: border-box;
  width: 16.6rem;
  height: 4.106rem;
  white-space: nowrap;
}
.link14:hover {
  background-color: var(--color-gainsboro-100);
  border: 1.2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.container-icon6 {
  top: 1.644rem;
  left: 9.944rem;
  border-radius: 54.73px;
  width: 6.844rem;
  height: 6.844rem;
  object-fit: cover;
}
.eee9d27c1241a14134c1f4-primary6,
.link-container1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.link-container1 {
  left: 34rem;
  background-color: var(--color-gray-1400);
  width: 26.738rem;
}
.eee9d27c1241a14134c1f4-primary6 {
  width: 100%;
  right: 0;
  left: 0;
  background-image: url(/public/65eee9d27c1241a14134c1f4-primarycta-imagewebp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.container-icon7,
.image-icon10 {
  position: relative;
  object-fit: cover;
}
.image-icon10 {
  margin-bottom: -1.738rem;
  height: 35rem;
  width: 22.188rem;
  max-width: calc(100% - 791px);
}
.container-icon7 {
  height: 6.688rem;
  width: 6.688rem;
  border-radius: 53.51px;
  overflow: hidden;
  flex-shrink: 0;
}
.main-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.my-name-is7 {
  margin: 0;
  font-weight: 500;
}
.your7 {
  font-weight: 500;
  white-space: pre-wrap;
}
.design-manager7,
.your7 {
  font-family: var(--font-manrope);
}
.will-answer-all7 {
  font-weight: 500;
  white-space: pre-wrap;
}
.your-design-manager-will-ans7 {
  margin: 0;
}
.my-name-is-container13 {
  align-self: stretch;
  position: relative;
  letter-spacing: -1.19px;
  line-height: 2.497rem;
}
.work-availability {
  align-self: stretch;
  height: 16.087rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-131xl-4);
  box-sizing: border-box;
  gap: var(--gap-11xl-4);
}
.ask-questions8 {
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.59px;
  line-height: 1.784rem;
  font-family: var(--font-inter);
  color: var(--color-gray-1600);
  text-align: left;
}
.svg-icon13 {
  width: 1.488rem;
  height: 1.488rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.s-v-g-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-3);
}
.link15,
.question-s-v-g1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.link15 {
  cursor: pointer;
  border: 1.2px solid var(--neutral-colors-100);
  padding: var(--padding-base) var(--padding-18xl) var(--padding-base)
    var(--padding-20xl-3);
  background-color: var(--neutral-colors-100);
  flex: 1;
  border-radius: 47.56px;
  overflow: hidden;
  align-items: flex-end;
  gap: var(--gap-mid-5);
}
.question-s-v-g1 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-31xl) 0 var(--padding-29xl-3);
}
.eee9d27c1241a14134c1f4-primary-child,
.work-availability-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.work-availability-parent {
  align-self: stretch;
  background-color: var(--color-gray-1700);
  overflow: hidden;
  padding: var(--padding-27xl-2) var(--padding-11xl-2) var(--padding-27xl);
  gap: var(--gap-28xl-6);
}
.eee9d27c1241a14134c1f4-primary-child {
  width: 27.688rem;
  padding: 0 var(--padding-6xl) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 703px);
}
.image-icon11 {
  margin-bottom: -4.238rem;
  height: 35rem;
  width: 19.25rem;
  position: relative;
  object-fit: cover;
}
.eee9d27c1241a14134c1f4-primary7 {
  position: absolute;
  height: -147.01%;
  width: 100%;
  top: 249.67%;
  right: 0;
  bottom: -2.66%;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-13xl) var(--padding-smi-8) var(--padding-2xs);
  box-sizing: border-box;
  background-image: url(/public/65eee9d27c1241a14134c1f4-primarycta-imagewebp1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: -41.437rem;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 3;
  font-size: var(--font-size-9xl-5);
}
.macbook-pro-14-55,
.section3 {
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  text-align: center;
  color: var(--neutral-colors-100);
}
.section3 {
  margin-left: -0.813rem;
  width: 97.188rem;
  height: 28.188rem;
  flex-shrink: 0;
  max-width: 103%;
  z-index: 4;
  font-size: var(--font-size-10xl-2);
  font-family: var(--font-manrope);
}
.macbook-pro-14-55 {
  width: 100%;
  height: 313.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40.187rem;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-base);
  font-family: var(--font-helvetica);
}
@media screen and (max-width: 1200px) {
  .contact-items {
    flex-wrap: wrap;
    padding-left: var(--padding-121xl);
    padding-right: var(--padding-116xl);
    box-sizing: border-box;
  }
  .service-items {
    height: auto;
    min-height: 76;
  }
  .question-s-v-g {
    gap: var(--gap-13xl);
  }
  .footer-links,
  .social-icons1 {
    padding-bottom: var(--padding-337xl);
    box-sizing: border-box;
  }
  .social-icons1 {
    padding-bottom: var(--padding-63xl);
  }
  .macbook-pro-14-55 {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .we-delivered-our-container2,
  .we-delivered-our-container3 {
    font-size: var(--font-size-19xl);
    line-height: 2.75rem;
  }
  .social-links1 {
    flex-wrap: wrap;
  }
  .footer-links {
    height: auto;
  }
  .social-icons1 {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
  .eee9d27c1241a14134c1f4-primary-child,
  .image-icon10 {
    display: none;
    max-width: 100%;
  }
  .image-icon11 {
    display: none;
  }
  .eee9d27c1241a14134c1f4-primary7 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent9 {
    flex-wrap: wrap;
  }
  .frame-parent24 {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
  .contact-items {
    padding-left: var(--padding-51xl);
    padding-right: var(--padding-48xl);
    box-sizing: border-box;
  }
  .question-s-v-g {
    gap: var(--gap-base);
  }
  .footer-links,
  .work {
    gap: var(--gap-12xl);
  }
  .footer-links {
    padding-bottom: var(--padding-212xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .my-name-is-container7,
  .my-name-is-container9 {
    font-size: var(--font-size-4xl);
    line-height: 2.063rem;
  }
  .my-name-is-container9 {
    line-height: 2rem;
  }
  .we-delivered-our-container2,
  .we-delivered-our-container3 {
    font-size: var(--font-size-10xl);
    line-height: 2.063rem;
  }
  .image-row {
    flex-wrap: wrap;
  }
  .contact-items {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading-3,
  .heading-31 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .ask-container {
    gap: var(--gap-mini);
  }
  .heading-34,
  .heading-35 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .ask-container1 {
    gap: var(--gap-mini);
  }
  .heading-38,
  .heading-39 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .ask-container2 {
    gap: var(--gap-mini);
  }
  .heading-312,
  .heading-313 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .service-header {
    gap: var(--gap-mini);
  }
  .heading-316,
  .heading-317 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .service-header1 {
    gap: var(--gap-mini);
  }
  .heading-320,
  .heading-321 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .service-header2 {
    gap: var(--gap-mini);
  }
  .heading-324,
  .heading-325 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .service-header3 {
    gap: var(--gap-mini);
  }
  .heading-328,
  .heading-329 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .service-header4 {
    gap: var(--gap-mini);
  }
  .heading-332,
  .heading-333 {
    font-size: var(--font-size-mid);
    line-height: 1rem;
  }
  .footer-links,
  .service-header5,
  .work {
    gap: var(--gap-mini);
  }
  .social-icons1 {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .my-name-is-container11,
  .my-name-is-container13 {
    font-size: var(--font-size-4xl);
    line-height: 2.063rem;
  }
  .my-name-is-container13 {
    line-height: 2rem;
  }
  .work-availability {
    gap: var(--gap-mini);
  }
  .question-s-v-g1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .work-availability-parent {
    gap: var(--gap-5xl);
  }
}
