.symbol40 {
  width: 1.194rem;
  position: absolute;
  margin: 0 !important;
  top: 0.819rem;
  right: -1.956rem;
  line-height: 1.176rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.194rem;
}
.link36 {
  height: 2.825rem;
  width: 0.056rem;
  border-radius: 22.58px;
  border: 0.9px solid var(--color-darkslategray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.symbol41 {
  width: 1.344rem;
  position: absolute;
  margin: 0 !important;
  top: 0.819rem;
  right: -2.037rem;
  line-height: 1.176rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link37 {
  height: 2.825rem;
  width: 0.056rem;
  border-radius: 22.58px;
  border: 0.9px solid var(--color-darkslategray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.symbol42 {
  position: absolute;
  margin: 0 !important;
  top: 0.819rem;
  right: -1.925rem;
  line-height: 1.176rem;
  display: inline-block;
  min-width: 0.938rem;
}
.link38 {
  height: 2.825rem;
  width: 0.056rem;
  border-radius: 22.58px;
  border: 0.9px solid var(--color-darkslategray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.link-icon3 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 1rem;
  top: 0;
  transform: scale(35.556);
}
.symbol43,
.wrapper-link1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-link1 {
  height: 2.825rem;
  width: 0.056rem;
  position: relative;
  border-radius: 22.58px;
  min-height: 2.813rem;
}
.symbol43 {
  width: 1.05rem;
  position: absolute;
  margin: 0 !important;
  top: 0.819rem;
  right: -1.887rem;
  line-height: 1.176rem;
  min-width: 1.05rem;
}
.link39,
.symbol44 {
  position: relative;
  display: flex;
}
.link39 {
  height: 2.825rem;
  width: 0.056rem;
  border-radius: 22.58px;
  border: 0.9px solid var(--color-darkslategray-400);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.symbol44 {
  width: 1.05rem;
  font-size: var(--font-size-lg-8);
  line-height: 1.176rem;
  font-family: var(--font-font-awesome-5-brands);
  color: var(--neutral-colors-100);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 1.05rem;
}
.horizontalborder-wrapper,
.horizontalborder2,
.link40 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.link40 {
  cursor: pointer;
  border: 0.9px solid var(--color-darkslategray-400);
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-mini-4);
  background-color: transparent;
  width: 2.825rem;
  border-radius: 22.58px;
  justify-content: flex-start;
}
.link40:hover {
  background-color: var(--color-dimgray-800);
  border: 0.9px solid var(--color-dimgray-500);
  box-sizing: border-box;
}
.horizontalborder-wrapper,
.horizontalborder2 {
  max-width: 100%;
}
.horizontalborder2 {
  width: 72.95rem;
  border-top: 0.9px solid var(--color-darkslategray-400);
  justify-content: flex-end;
  padding: var(--padding-2xs) var(--padding-48xl-4) var(--padding-37xl-3);
  gap: var(--gap-34xl-7);
}
.horizontalborder-wrapper {
  width: 91.625rem;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-lg-8);
  color: var(--neutral-colors-100);
  font-family: var(--font-font-awesome-5-brands);
}
@media screen and (max-width: 825px) {
  .horizontalborder2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .horizontalborder2 {
    gap: var(--gap-8xl);
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
