.background-shape-icon2 {
  align-self: stretch;
  height: 263.8px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.title2 {
  position: relative;
  line-height: 37.68px;
  font-weight: 600;
}
.package-three-details,
.title-and-body2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.title-and-body2 {
  flex: 1;
  /* padding: 0 var(--padding-13xl); */
}
.package-three-details {
  align-self: stretch;
  padding: 0 var(--padding-5xl) 0 var(--padding-2xl);
}
.get-details {
  position: relative;
  line-height: 24.87px;
  font-weight: 700;
}
.button-container1 {
  align-self: stretch;
  box-shadow: 12px 12px 45.4px #000;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 3.5rem;
  white-space: nowrap;
  font-size: 16px;
}
.check-icon10 {
  height: 29.8px;
  width: 29.8px;
  position: relative;
  min-height: 30px;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.benefit-child2 {
  height: 5.2px;
  width: 5.2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--web-primary-dark);
  display: none;
}
.services-off10 {
  height: 28px;
  flex: 1;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: calc(100% - 40px);
}
.benefit5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-2xs-4);
  max-width: 100%;
}
.check-icon11 {
  height: 29.8px;
  width: 29.8px;
  position: relative;
  min-height: 30px;
}
.benefit-child3 {
  height: 5.2px;
  width: 5.2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--web-primary-dark);
  display: none;
}
.services-off11 {
  height: 28px;
  position: relative;
  display: inline-block;
}
.benefit6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
  gap: var(--gap-2xs-4);
}
.check-icon12 {
  height: 29.8px;
  width: 29.8px;
  position: relative;
  min-height: 30px;
}
.benefit-child4 {
  height: 5.2px;
  width: 5.2px;
  border-radius: 50%;
  background-color: var(--web-primary-dark);
  display: none;
}
.benefit-child4,
.services-off12 {
  position: relative;
}
.benefit7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
  gap: var(--gap-2xs-4);
}
.check-icon13 {
  height: 29.8px;
  width: 29.8px;
  position: relative;
  min-height: 30px;
}
.benefit-child5 {
  height: 5.2px;
  width: 5.2px;
  border-radius: 50%;
  background-color: var(--web-primary-dark);
  display: none;
}
.benefit-child5,
.services-off13 {
  position: relative;
}
.benefit8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
  gap: var(--gap-2xs-4);
}
.check-icon14 {
  height: 29.8px;
  width: 29.8px;
  position: relative;
  min-height: 30px;
}
.benefit-child6 {
  height: 5.2px;
  width: 5.2px;
  border-radius: 50%;
  background-color: var(--web-primary-dark);
  display: none;
}
.benefit-child6,
.services-off14 {
  position: relative;
}
.benefit9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
  gap: var(--gap-2xs-4);
}
.benefits1 {
  align-self: stretch;
  flex-direction: column;
  /* gap: var(--gap-7xs-2); */
  font-family: var(--font-manrope);
}
.action-button,
.benefits1,
.package-three-action,
.package-three-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.action-button {
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}
.package-three-action,
.package-three-content {
  align-self: stretch;
}
.package-three-action {
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
}
.package-three-content {
  flex-direction: column;
  gap: var(--gap-8xl-7);
  text-align: center;
  font-size: 22px;
  color: var(--color-white);
  font-family: var(--font-sora);
}
@media screen and (max-width: 450px) {
  .title2 {
    font-size: var(--font-size-2xl);
    line-height: 30px;
  }
  .services-off10,
  .services-off11,
  .services-off12,
  .services-off13,
  .services-off14 {
    font-size: var(--font-size-mid);
  }
}
