@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Thonburi:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PingFang+SC:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Thonburi:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PingFang+SC:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

body {
  margin: 0;
  line-height: normal;
}

img {
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px
}

::-webkit-scrollbar-thumb {
  background-color: #1c2125;
}

:root {

  /* fonts */
  --font-manrope: Manrope;
  --font-sora: Sora;
  --font-helvetica: Helvetica;
  --font-syne: Syne;
  --font-font-awesome-5-brands: "Font Awesome 5 Brands";
  --font-inter: Inter;
  --font-thonburi: Thonburi;
  --font-font-awesome-5-free: "Font Awesome 5 Free";
  --font-pingfang-sc: "PingFang SC";
  --font-helvetica: Helvetica;
  --font-roboto: Roboto;
  --font-outfit: Outfit;
  --font-figtree: Figtree;
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-xl-7: 1.294rem;
  --font-size-mid: 1.063rem;
  --font-size-6xl-9: 1.619rem;
  --font-size-2xl: 1.313rem;
  --font-size-3xl-7: 1.419rem;
  --font-size-2xl-3: 1.331rem;
  --font-size-53xl: 4.5rem;
  --font-size-base-6: 15.6px;
  --font-size-4xs-8: 8.8px;
  --font-size-lgi-6: 19.6px;
  --font-size-8xl-2: 27.2px;
  --font-size-18xl-5: 37.5px;
  --font-size-mini-5: 14.5px;
  --font-size-2xl-1: 21.1px;
  --font-size-mid: 17px;
  --font-size-lg-7: 18.7px;
  --font-size-23xl-1: 42.1px;
  --font-size-6xl: 25px;
  --font-size-15xl: 34px;
  --font-size-5xl-2: 24.2px;
  --font-size-lgi: 19px;
  --font-size-3xl-2: 22.2px;
  --font-size-lg: 18px;
  --font-size-28xl: 47px;
  --font-size-9xl: 28px;
  --font-size-19xl: 38px;
  --font-size-81xl-1: 100.1px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-mid-8: 17.8px;
  --font-size-lgi-4: 19.4px;
  --font-size-3xl-7: 22.7px;
  --font-size-19xl-9: 38.9px;
  --font-size-4xl: 23px;
  --font-size-12xl: 31px;
  --font-size-11xl-8: 30.8px;
  --font-size-13xl-5: 32.5px;
  --font-size-7xl: 26px;
  --font-size-lg-4: 18.4px;
  --font-size-mid-2: 17.2px;
  --font-size-base-8: 15.8px;
  --font-size-5xl-3: 24.3px;
  --font-size-xl: 20px;
  --font-size-8xl: 27px;
  --font-size-39xl-3: 58.3px;
  --font-size-sm-5: 13.5px;
  --font-size-10xs-6: 2.6px;
  --font-size-8xs-4: 4.4px;
  --font-size-8xs-2: 4.2px;
  --font-size-mini-4: 14.4px;
  --font-size-base-3: 15.3px;
  --font-size-mini-1: 14.1px;
  --font-size-base-5: 16.5px;
  --font-size-12xl-1: 31.1px;
  --font-size-74xl-4: 93.4px;
  --font-size-12xl-3: 31.3px;

  /* Colors */
  --color-gray-100: #0e1e3c;
  --color-gray-200: #111;
  --color-gray-300: rgba(255, 255, 255, 0.1);
  --color-white: #fff;
  --web-primary-dark: #e2f3ff;
  --color-royalblue-100: #2575f5;
  --color-royalblue-200: rgba(37, 117, 245, 0.67);
  --color-darkslategray: rgba(34, 43, 44, 0.59);
  --color-white: #fff;
  --color-gray-100: #feffff;
  --color-gray-200: #fcfeff;
  --color-gray-300: #8e8e8e;
  --color-gray-400: #787b7e;
  --color-gray-500: #141414;
  --color-gray-600: #0f1419;
  --color-gray-700: #121213;
  --color-gray-800: #08141b;
  --color-gray-900: #071319;
  --color-gray-1000: #091315;
  --color-gray-1100: #1b030e;
  --color-gray-1200: #070707;
  --color-gray-1300: #030307;
  --color-gray-1400: #000105;
  --color-gray-1500: rgba(255, 255, 255, 0.08);
  --color-gray-1600: rgba(255, 255, 255, 0.03);
  --color-darkgray: #9a9a9c;
  --color-darkslategray-100: #353539;
  --color-darkslategray-200: #222b2c;
  --color-cadetblue-100: #35a3c3;
  --color-cadetblue-200: #34a3c3;
  --color-dimgray-100: #68686a;
  --color-dimgray-200: #536471;
  --color-dimgray-300: #56555b;
  --color-gainsboro-100: #e5e1e1;
  --color-gainsboro-200: #dad7d7;
  --color-ghostwhite-100: #f9faff;
  --color-ghostwhite-200: #f8faff;
  --color-ghostwhite-300: #f9f9ff;
  --color-ghostwhite-400: #f3f2ff;
  --color-blueviolet: #4b4efa;
  --color-black: #000;
  --web-primary-dark: #e2f3ff;
  --color-lavender: #f5e2ff;
  --color-honeydew: #cdfde8;
  --color-burlywood: rgba(227, 193, 127, 0.47);
  --color-dodgerblue-100: #3980e5;
  --color-dodgerblue-200: #006fd6;
  --color-cornflowerblue: rgba(46, 167, 248, 0.86);
  --color-mediumslateblue: #3366ff;
  --color-orange: #ff9900;
  --color-mediumseagreen: #009d51;
  --color-coral: #f96c39;
  --color-royalblue: #2575f5;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-8xl-7: 1.731rem;
  --gap-9xl-2: 1.762rem;
  --gap-7xs-2: 0.325rem;
  --gap-2xs-4: 0.65rem;
  --gap-8xl-6: 1.725rem;
  --gap-12xl-8: 1.987rem;
  --gap-base: 1rem;
  --gap-base-4: 1.025rem;
  --gap-2xs-3: 0.643rem;
  --gap-3xs-8: 0.612rem;
  --gap-7xs-8: 0.362rem;
  --gap-6xs-8: 0.425rem;
  --gap-6xl: 1.562rem;
  --gap-2xl-3: 1.331rem;
  --gap-mini-1: 0.881rem;
  --gap-mini-3: 0.893rem;
  --gap-12xs-6: 0.6px;
  --gap-7xs-5: 5.5px;
  --gap-26xl-6: 45.6px;
  --gap-4xl: 23px;
  --gap-smi-2: 12.2px;
  --gap-xs-9: 11.9px;
  --gap-xs-7: 11.7px;
  --gap-xl: 20px;
  --gap-36xl-7: 55.7px;
  --gap-9xl: 28px;
  --gap-62xl-6: 81.6px;
  --gap-22xl: 41px;
  --gap-6xl: 25px;
  --gap-sm-8: 13.8px;
  --gap-3xl-6: 22.6px;
  --gap-3xl-5: 22.5px;
  --gap-3xl-2: 22.2px;
  --gap-3xl-1: 22.1px;
  --gap-3xl: 22px;
  --gap-lgi-4: 19.4px;
  --gap-5xl-1: 24.1px;
  --gap-7xl-8: 26.8px;
  --gap-base-3: 15.3px;
  --gap-2xl-7: 21.7px;
  --gap-11xl-4: 30.4px;
  --gap-mini: 15px;
  --gap-mid-8: 17.8px;
  --gap-smi-1: 12.1px;
  --gap-3xs-9: 9.9px;
  --gap-3xs: 10px;
  --gap-lg: 18px;
  --gap-38xl-3: 57.3px;
  --gap-10xl: 29px;
  --gap-19xl-1: 38.1px;
  --gap-lgi: 19px;
  --gap-lgi-8: 19.8px;
  --gap-5xs-7: 7.7px;
  --gap-38xl-5: 57.5px;
  --gap-19xl-8: 38.8px;
  --gap-lg-6: 18.6px;
  --gap-5xs-8: 7.8px;
  --gap-75xl-5: 94.5px;
  --gap-28xl: 47px;
  --gap-64xl-2: 83.2px;
  --gap-41xl-8: 60.8px;
  --gap-11xl: 30px;
  --gap-xs-5: 11.5px;
  --gap-xs-4: 11.4px;
  --gap-26xl-4: 45.4px;
  --gap-18xl-9: 37.9px;
  --gap-8xs-2: 4.2px;
  --gap-4xs-4: 8.4px;
  --gap-5xl-5: 24.5px;
  --gap-4xs-5: 8.5px;
  --gap-2xl-9: 21.9px;
  --gap-xs-8: 11.8px;
  --gap-9xl-3: 28.3px;
  --gap-6xl-3: 25.3px;
  --gap-17xl-2: 36.2px;
  --gap-96xl-1: 115.1px;
  --gap-39xl: 58px;
  --gap-74xl-6: 93.6px;
  --gap-7xs-1: 5.1px;
  --gap-10xl-1: 29.1px;
  --gap-xl-6: 20.6px;
  --gap-29xl-4: 48.4px;
  --gap-5xl: 24px;
  --gap-lg-8: 18.8px;
  --gap-2xs-8: 10.8px;
  --gap-11xs-1: 1.1px;
  --gap-7xl-2: 26.2px;
  --gap-9xs-6: 3.6px;
  --gap-12xs-9: 0.9px;
  --gap-19xl-3: 38.3px;
  --gap-2xl-2: 21.2px;
  --gap-lg-1: 18.1px;
  --gap-12xs-2: 0.2px;
  --gap-21xl-1: 40.1px;
  --gap-lgi-3: 19.3px;
  --gap-6xs-2: 6.2px;
  --gap-9xs-7: 3.7px;
  --gap-6xs-4: 6.4px;
  --gap-base-9: 16.9px;
  --gap-11xs-9: 1.9px;
  --gap-lgi-2: 19.2px;
  --gap-7xs-3: 5.3px;
  --gap-9xl-2: 28.2px;
  --gap-mini-7: 14.7px;
  --gap-7xs-6: 5.6px;
  --gap-11xs: 2px;
  --gap-7xs-4: 5.4px;
  --gap-16xl-6: 35.6px;
  --gap-xs-2: 11.2px;
  --gap-xl-5: 20.5px;
  --gap-7xs-2: 5.2px;
  --gap-34xl-6: 53.6px;
  --gap-8xl: 27px;
  --gap-2xs-6: 10.6px;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-3xl: 1.375rem;
  --padding-5xl: 1.5rem;
  --padding-2xl: 1.312rem;
  --padding-2xs: 0.687rem;
  --padding-xl-7: 1.293rem;
  --padding-xl-8: 1.3rem;
  --padding-17xl-3: 2.268rem;
  --padding-13xl: 2rem;
  --padding-mini: 0.937rem;
  --padding-15xl: 2.125rem;
  --padding-base: 1rem;
  --padding-6xl: 1.562rem;
  --padding-53xl: 4.5rem;
  --padding-mini-7: 0.918rem;
  --padding-12xs: 0.062rem;
  --padding-9xs: 0.25rem;
  --padding-10xs: 0.187rem;
  --padding-2xs-5: 0.656rem;
  --padding-7xl: 1.625rem;
  --padding-10xs-6: 0.162rem;
  --padding-5xs: 0.5rem;
  --padding-8xs-3: 0.268rem;
  --padding-4xs: 0.562rem;
  --padding-lg: 1.125rem;
  --padding-9xs-7: 0.231rem;
  --padding-sm: 14px;
  --padding-37xl-7: 56.7px;
  --padding-13xl-8: 32.8px;
  --padding-18xl: 37px;
  --padding-2xl: 21px;
  --padding-101xl: 120px;
  --padding-11xl: 30px;
  --padding-41xl: 60px;
  --padding-xl: 20px;
  --padding-base-3: 16.3px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-7xs-6: 5.6px;
  --padding-21xl-2: 40.2px;
  --padding-16xl: 35px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-2xl-3: 21.3px;
  --padding-5xl: 24px;
  --padding-3xl-3: 22.3px;
  --padding-6xl: 25px;
  --padding-5xs-7: 7.7px;
  --padding-lg: 18px;
  --padding-smi: 13px;
  --padding-3xs-9: 9.9px;
  --padding-lgi: 19px;
  --padding-4xs: 9px;
  --padding-sm-7: 13.7px;
  --padding-sm-5: 13.5px;
  --padding-6xs-8: 6.8px;
  --padding-5xs-5: 7.5px;
  --padding-base-5: 16.5px;
  --padding-5xl-2: 24.2px;
  --padding-3xl: 22px;
  --padding-mini: 15px;
  --padding-5xs-2: 7.2px;
  --padding-55xl-5: 74.5px;
  --padding-35xl-3: 54.3px;
  --padding-13xl: 32px;
  --padding-15xl: 34px;
  --padding-11xs: 2px;
  --padding-73xl-4: 92.4px;
  --padding-97xl: 116px;
  --padding-38xl-9: 57.9px;
  --padding-19xl: 38px;
  --padding-10xl: 29px;
  --padding-39xl: 58px;
  --padding-12xs: 1px;
  --padding-5xl-4: 24.4px;
  --padding-145xl-5: 164.5px;
  --padding-59xl-2: 78.2px;
  --padding-61xl-6: 80.6px;
  --padding-32xl: 51px;
  --padding-137xl-5: 156.5px;
  --padding-67xl-3: 86.3px;
  --padding-37xl: 56px;
  --padding-29xl-8: 48.8px;
  --padding-153xl-6: 172.6px;
  --padding-51xl-2: 70.2px;
  --padding-27xl: 46px;
  --padding-smi-2: 12.2px;
  --padding-141xl-5: 160.5px;
  --padding-63xl-3: 82.3px;
  --padding-34xl: 53px;
  --padding-42xl-1: 61.1px;
  --padding-157xl-5: 176.5px;
  --padding-47xl-3: 66.3px;
  --padding-9xl: 28px;
  --padding-24xl: 43px;
  --padding-51xl: 70px;
  --padding-26xl: 45px;
  --padding-17xl-1: 36.1px;
  --padding-5xl-7: 24.7px;
  --padding-47xl-8: 66.8px;
  --padding-108xl: 127px;
  --padding-64xl: 83px;
  --padding-62xl: 81px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-5xs-3: 7.3px;
  --padding-13xl-5: 32.5px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-63xl: 82px;
  --padding-59xl: 78px;
  --padding-167xl-3: 186.3px;
  --padding-60xl: 79px;
  --padding-102xl: 121px;
  --padding-3xl-7: 22.7px;
  --padding-6xs: 7px;
  --padding-10xs-1: 2.1px;
  --padding-7xs: 6px;
  --padding-9xs-4: 3.4px;
  --padding-10xs: 3px;
  --padding-56xl: 75px;
  --padding-65xl: 84px;
  --padding-30xl: 49px;
  --padding-23xl: 42px;
  --padding-base-4: 16.4px;
  --padding-13xl-4: 32.4px;
  --padding-231xl-3: 250.3px;
  --padding-27xl-2: 46.2px;
  --padding-4xs-9: 8.9px;
  --padding-base-6: 16.6px;
  --padding-52xl: 71px;
  --padding-base-8: 16.8px;
  --padding-xs-1: 11.1px;
  --padding-57xl-3: 76.3px;
  --padding-31xl: 50px;
  --padding-5xs-1: 7.1px;
  --padding-62xl-2: 81.2px;
  --padding-mid-2: 17.2px;
  --padding-9xs: 4px;
  --padding-80xl: 99px;
  --padding-45xl: 64px;
  --padding-63xl-6: 82.6px;
  --padding-185xl: 204px;
  --padding-5xl-3: 24.3px;
  --padding-199xl: 218px;
  --padding-90xl: 109px;
  --padding-83xl: 102px;
  --padding-35xl: 54px;
  --padding-7xl-4: 26.4px;
  --padding-40xl-5: 59.5px;
  --padding-14xl-2: 33.2px;
  --padding-33xl-1: 52.1px;
  --padding-20xl: 39px;
  --padding-38xl-3: 57.3px;
  --padding-smi-6: 12.6px;
  --padding-mid-1: 17.1px;
  --padding-8xs: 5px;
  --padding-45xl-6: 64.6px;
  --padding-9xs-9: 3.9px;
  --padding-8xs-1: 4.1px;
  --padding-9xs-1: 3.1px;
  --padding-12xs-4: 0.4px;
  --padding-17xl: 36px;
  --padding-11xs-4: 1.4px;
  --padding-sm-6: 13.6px;
  --padding-12xs-3: 0.3px;
  --padding-7xs-7: 5.7px;
  --padding-10xs-7: 2.7px;
  --padding-29xl: 48px;
  --padding-xs-6: 11.6px;
  --padding-2xs-3: 10.3px;
  --padding-8xs-5: 4.5px;
  --padding-9xs-6: 3.6px;
  --padding-11xs-2: 1.2px;
  --padding-11xs-1: 1.1px;
  --padding-12xl: 31px;
  --padding-9xs-5: 3.5px;
  --padding-10xs-4: 2.4px;
  --padding-126xl: 145px;
  --padding-2xs-5: 10.5px;
  --padding-2xs-4: 10.4px;
  --padding-8xs-2: 4.2px;
  --padding-5xs: 8px;
  --padding-5xs-8: 7.8px;
  --padding-4xs-2: 8.2px;
  --padding-479xl: 498px;
  --padding-530xl: 549px;
  --padding-255xl: 274px;
  --padding-230xl: 249px;
  --padding-12xs-1: 0.1px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-2xs-4: 10.4px;
  --br-xs-3: 11.3px;
  --br-10xs-1: 2.1px;
  --br-4xl-5: 23.5px;
  --br-base-6: 16.6px;
  --br-22xl-4: 41.4px;
  --br-36xl-6: 55.6px;
  --br-11xs-9: 1.9px;
  --br-7xs-7: 5.7px;
  --br-smi-2: 12.2px;
  --br-3xs-2: 9.2px;
  --br-mini-6: 14.6px;
  --br-8xl-6: 27.6px;
  --br-4xs-4: 8.4px;
  --br-8xs-1: 4.1px;
  --br-7xs-4: 5.4px;
  --br-4xs: 9px;
  --br-8961xl-2: 8980.2px;
  --br-9xs-9: 3.9px;
  --br-13xl-3: 32.3px;

  /* fonts */
  --font-font-awesome-5-brands: "Font Awesome 5 Brands";
  --font-inter: Inter;
  --font-manrope: Manrope;
  --font-font-awesome-5-free: "Font Awesome 5 Free";
  --font-poppins: Poppins;
  --font-sora: Sora;
  --font-thonburi: Thonburi;
  --font-mulish: Mulish;
  --font-syne: Syne;
  --font-outfit: Outfit;
  --font-lexend-deca: "Lexend Deca";
  --font-roboto: Roboto;
  --font-be-vietnam-pro: "Be Vietnam Pro";
  --font-figtree: Figtree;
  --font-dm-sans: "DM Sans";
  --font-helvetica: Helvetica;
  --font-montserrat: Montserrat;
  --font-maven-pro: "Maven Pro";

  /* font sizes */
  --font-size-base-8: 1.05rem;
  --font-size-mini-2: 0.888rem;
  --font-size-lg-9: 1.181rem;
  --font-size-3xl-5: 1.406rem;
  --font-size-lg: 1.125rem;
  --font-size-lg-8: 1.175rem;
  --font-size-base: 1rem;
  --font-size-mini-4: 0.9rem;
  --font-size-7xl-2: 1.638rem;
  --font-size-2xl: 1.313rem;
  --font-size-5xs-9: 0.494rem;
  --font-size-17xl-1: 2.256rem;
  --font-size-3xl: 1.375rem;
  --font-size-10xl: 1.813rem;
  --font-size-10xl-5: 1.844rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm: 0.875rem;
  --font-size-4xl-6: 1.475rem;
  --font-size-lgi: 1.188rem;
  --font-size-4xl-8: 1.488rem;
  --font-size-53xl: 4.5rem;
  --font-size-24xl: 2.688rem;
  --font-size-39xl: 3.625rem;
  --font-size-9xl-5: 1.781rem;
  --font-size-4xl: 1.438rem;
  --font-size-lgi-5: 1.219rem;
  --font-size-10xl-2: 1.825rem;
  --font-size-2xl-7: 1.356rem;
  --font-size-mid: 1.063rem;
  --font-size-11xs-5: 0.094rem;
  --font-size-10xs-5: 0.156rem;
  --font-size-xs-8: 0.738rem;
  --font-size-lg-4: 1.15rem;
  --font-size-xl-9: 1.306rem;
  --font-size-base-1: 1.006rem;
  --font-size-11xl-9: 1.931rem;
  --font-size-6xl: 1.563rem;
  --font-size-mid-5: 1.094rem;
  --font-size-32xl-9: 3.244rem;
  --font-size-12xl: 1.938rem;
  --font-size-23xl: 2.625rem;
  --font-size-lgi-4: 1.213rem;
  --font-size-29xl: 3rem;
  --font-size-19xl: 2.375rem;
  --font-size-mini: 0.938rem;
  --font-size-10xs-9: 0.181rem;
  --font-size-xl: 1.25rem;
  --font-size-base-5: 1.031rem;
  --font-size-33xl: 3.25rem;
  --font-size-4xl-1: 1.444rem;
  --font-size-7xl-4: 1.65rem;
  --font-size-60xl-3: 4.956rem;
  --font-size-44xl: 3.938rem;
  --font-size-xs: 0.75rem;
  --font-size-3xs-1: 0.569rem;
  --font-size-base-2: 1.013rem;
  --font-size-50xl-7: 4.356rem;
  --font-size-37xl: 3.5rem;
  --font-size-246xl-8: 16.613rem;
  --font-size-47xl: 4.125rem;
  --font-size-87xl: 6.625rem;
  --font-size-24xl-2: 2.7rem;
  --font-size-7xl: 1.625rem;
  --font-size-16xl: 2.188rem;
  --font-size-7xs-8: 0.363rem;
  --font-size-7xl-5: 1.656rem;
  --font-size-2xs-7: 0.669rem;
  --font-size-15xl: 2.125rem;
  --font-size-3xs-3: 0.581rem;
  --font-size-2xs-5: 0.656rem;
  --font-size-25xl-3: 2.769rem;
  --font-size-8xl: 1.688rem;
  --font-size-11xl-2: 1.888rem;
  --font-size-lgi-3: 1.206rem;
  --font-size-base-4: 1.025rem;
  --font-size-mid-3: 1.081rem;
  --font-size-mini-8: 0.925rem;
  --font-size-7xl-9: 1.681rem;
  --font-size-4xs-1: 0.506rem;
  --font-size-18xl-1: 2.319rem;
  --font-size-11xl: 1.875rem;
  --font-size-base-9: 0.994rem;
  --font-size-smi: 0.813rem;
  --font-size-lgi-1: 1.194rem;
  --font-size-26xl-8: 2.863rem;
  --font-size-18xl: 2.313rem;
  --font-size-base-3: 0.956rem;

  /* Colors */
  --neutral-colors-100: #fff;
  --color-gray-100: #feffff;
  --color-gray-200: #fbfdff;
  --color-gray-300: #767777;
  --color-gray-400: #2d2936;
  --color-gray-500: #2c2c2c;
  --color-gray-600: #1a1a1e;
  --color-gray-700: #151a1f;
  --color-gray-800: #0d1b1d;
  --color-gray-900: #141414;
  --color-gray-1000: #0f1419;
  --color-gray-1100: #121213;
  --color-gray-1200: #111;
  --color-gray-1300: #071319;
  --color-gray-1400: #091315;
  --color-gray-1500: #070707;
  --color-gray-1600: #030307;
  --color-gray-1700: #000105;
  --color-gray-1800: #010101;
  --color-gray-1900: rgba(255, 255, 255, 0.05);
  --color-gray-2000: rgba(255, 255, 255, 0.1);
  --color-gray-2100: rgba(255, 255, 255, 0.2);
  --color-gray-2200: rgba(255, 255, 255, 0.6);
  --color-darkslategray-100: #475e61;
  --color-darkslategray-200: #474a4d;
  --color-darkslategray-300: #454545;
  --color-darkslategray-400: #353539;
  --color-darkslategray-500: #2c3140;
  --color-darkslategray-600: #142a2d;
  --color-darkgray-100: #9a9a9c;
  --color-darkgray-200: #9a9a9a;
  --color-dimgray-100: #747474;
  --color-dimgray-200: #68686a;
  --color-dimgray-300: #536471;
  --color-dimgray-400: #5d6262;
  --color-dimgray-500: #5c5c5e;
  --color-dimgray-600: #52595c;
  --color-dimgray-700: rgba(99, 93, 111, 0.65);
  --color-dimgray-800: rgba(92, 92, 94, 0.09);
  --color-aliceblue-100: #f3f7ff;
  --color-aliceblue-200: #eaf6ff;
  --color-aliceblue-300: #eef2ff;
  --color-aliceblue-400: #ebf3fd;
  --color-cadetblue-100: #35a3c3;
  --color-cadetblue-200: #34a3c3;
  --color-black: #000;
  --color-skyblue-100: #90e0ff;
  --color-skyblue-200: #45c7ed;
  --secondary-colors-orange-200: #ffe5ca;
  --color-orchid: #bf76cb;
  --color-paleturquoise: #77efff;
  --color-dodgerblue-100: #5494ff;
  --color-dodgerblue-200: #3b8cff;
  --color-dodgerblue-300: #006fd6;
  --color-dodgerblue-400: rgba(59, 140, 255, 0.09);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e5e1e1;
  --color-gainsboro-300: #ddd;
  --color-gainsboro-400: #dbdbdb;
  --color-gainsboro-500: #d9d9d9;
  --color-orange-100: #fbbc05;
  --color-orange-200: #ff9900;
  --color-lightsteelblue: #b4bcd0;
  --color-whitesmoke: #f7f8f8;
  --color-royalblue: #3b7bee;
  --color-darkturquoise: #5ed6e6;
  --color-mediumslateblue-100: #345bf4;
  --color-mediumslateblue-200: #1465fa;
  --color-mediumspringgreen: #0be89f;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-25xl-9: 2.806rem;
  --gap-3xl: 1.375rem;
  --gap-13xl-4: 2.025rem;
  --gap-6xs-3: 0.393rem;
  --gap-mid-3: 1.081rem;
  --gap-7xs-9: 0.368rem;
  --gap-5xs-1: 0.443rem;
  --gap-mini: 0.937rem;
  --gap-57xl-1: 4.756rem;
  --gap-19xl: 2.375rem;
  --gap-lgi-7: 1.231rem;
  --gap-5xs-5: 0.468rem;
  --gap-5xs-6: 0.475rem;
  --gap-lg-1: 1.131rem;
  --gap-7xs: 0.375rem;
  --gap-34xl-7: 3.356rem;
  --gap-8xl: 1.687rem;
  --gap-86xl: 6.562rem;
  --gap-7xl: 1.625rem;
  --gap-33xl: 3.25rem;
  --gap-2xl-4: 1.337rem;
  --gap-25xl: 2.75rem;
  --gap-xs-9: 0.743rem;
  --gap-xs-5: 0.718rem;
  --gap-xs-3: 0.706rem;
  --gap-xs-2: 0.7rem;
  --gap-5xs-7: 0.481rem;
  --gap-6xs-7: 0.418rem;
  --gap-12xs-1: 0.006rem;
  --gap-23xl: 2.625rem;
  --gap-2xl: 1.312rem;
  --gap-46xl-8: 4.112rem;
  --gap-base: 1rem;
  --gap-14xl: 2.062rem;
  --gap-5xl: 1.5rem;
  --gap-lgi: 1.187rem;
  --gap-4xl-2: 1.45rem;
  --gap-28xl-6: 2.975rem;
  --gap-mid-5: 1.093rem;
  --gap-11xl-4: 1.9rem;
  --gap-6xl: 1.562rem;
  --gap-4xl: 1.437rem;
  --gap-9xl: 1.75rem;
  --gap-base-6: 0.975rem;
  --gap-12xs-7: 0.043rem;
  --gap-base-5: 1.031rem;
  --gap-6xs-9: 0.431rem;
  --gap-16xl: 2.187rem;
  --gap-mid: 1.062rem;
  --gap-smi-1: 0.756rem;
  --gap-base-3: 0.956rem;
  --gap-3xl-5: 1.406rem;
  --gap-xs: 0.75rem;
  --gap-2xl-9: 1.368rem;
  --gap-51xl: 4.375rem;
  --gap-41xl: 3.75rem;
  --gap-10xs-4: 0.15rem;
  --gap-6xs: 0.437rem;
  --gap-lg: 1.125rem;
  --gap-10xl: 1.812rem;
  --gap-lgi-5: 1.218rem;
  --gap-9xs: 0.25rem;
  --gap-11xs-2: 0.075rem;
  --gap-11xs-5: 0.093rem;
  --gap-11xs: 0.125rem;
  --gap-6xl-4: 1.587rem;
  --gap-21xl: 2.5rem;
  --gap-3xs: 0.625rem;
  --gap-157xl-5: 11.031rem;
  --gap-69xl: 5.5rem;
  --gap-8xs: 0.312rem;
  --gap-3xl-3: 1.393rem;
  --gap-xs-8: 0.737rem;
  --gap-sm-1: 0.818rem;
  --gap-4xs: 0.562rem;
  --gap-6xs-8: 0.425rem;
  --gap-10xs-8: 0.175rem;
  --gap-smi: 0.812rem;
  --gap-42xl-2: 3.825rem;
  --gap-12xl: 1.937rem;
  --gap-41xl-4: 3.775rem;
  --gap-11xl-6: 1.912rem;
  --gap-base-9: 1.056rem;
  --gap-4xs-6: 0.537rem;
  --gap-base-7: 0.981rem;
  --gap-xs-7: 0.731rem;
  --gap-44xl-7: 3.981rem;
  --gap-13xl: 2rem;
  --gap-11xl-7: 1.918rem;
  --gap-mini-8: 0.925rem;
  --gap-8xs-7: 0.293rem;
  --gap-base-1: 0.943rem;
  --gap-12xs: 0.062rem;
  --gap-sm: 0.875rem;
  --gap-11xl: 1.875rem;
  --gap-31xl: 3.125rem;
  --gap-2xs: 0.687rem;
  --gap-20xl: 2.437rem;
  --gap-4xs-4: 0.525rem;
  --gap-56xl-6: 4.725rem;
  --gap-36xl: 3.437rem;
  --gap-77xl-5: 6.031rem;
  --gap-29xl: 3rem;
  --gap-26xl-1: 2.818rem;
  --gap-smi-8: 0.8rem;
  --gap-3xs-2: 0.575rem;
  --gap-5xs-9: 0.493rem;
  --gap-28xl-1: 2.943rem;
  --gap-xs-6: 0.725rem;
  --gap-6xl-7: 1.606rem;
  --gap-45xl: 4rem;
  --gap-22xl: 2.562rem;
  --gap-sm-9: 0.868rem;
  --gap-19xl-5: 2.406rem;
  --gap-xs-4: 0.712rem;
  --gap-7xs-3: 0.331rem;
  --gap-5xs: 0.5rem;
  --gap-4xl-8: 1.487rem;
  --gap-8xs-9: 0.306rem;
  --gap-100xl-8: 7.487rem;
  --gap-86xl-7: 6.606rem;
  --gap-34xl: 3.312rem;
  --gap-47xl: 4.125rem;
  --gap-33xl-9: 3.306rem;
  --gap-6xl-5: 1.593rem;
  --gap-lgi-6: 1.225rem;

  /* Paddings */
  --padding-5xs-9: 0.493rem;
  --padding-xl: 1.25rem;
  --padding-lg: 1.125rem;
  --padding-16xl-4: 2.212rem;
  --padding-2xs: 0.687rem;
  --padding-xs-1: 0.693rem;
  --padding-5xs-6: 0.475rem;
  --padding-59xl-8: 4.925rem;
  --padding-270xl: 18.062rem;
  --padding-27xl-5: 2.906rem;
  --padding-247xl-2: 16.637rem;
  --padding-114xl: 8.312rem;
  --padding-125xl: 9rem;
  --padding-11xs-7: 0.106rem;
  --padding-9xs-1: 0.193rem;
  --padding-8xs-7: 0.293rem;
  --padding-6xs-9: 0.431rem;
  --padding-48xl-4: 4.212rem;
  --padding-37xl-3: 3.518rem;
  --padding-14xl: 2.062rem;
  --padding-xs: 0.75rem;
  --padding-mini-4: 0.9rem;
  --padding-9xl: 1.75rem;
  --padding-5xl: 1.5rem;
  --padding-148xl: 10.437rem;
  --padding-132xl-5: 9.468rem;
  --padding-56xl: 4.687rem;
  --padding-90xl: 6.812rem;
  --padding-8xl-4: 1.712rem;
  --padding-11xs: 0.125rem;
  --padding-xs-6: 0.725rem;
  --padding-mini-8: 0.925rem;
  --padding-sm-4: 0.837rem;
  --padding-8xs: 0.312rem;
  --padding-base-6: 0.975rem;
  --padding-sm-1: 0.818rem;
  --padding-91xl-6: 6.912rem;
  --padding-11xl: 1.875rem;
  --padding-8xs-8: 0.3rem;
  --padding-4xs-1: 0.506rem;
  --padding-12xs: 0.062rem;
  --padding-4xs-9: 0.556rem;
  --padding-8xs-2: 0.262rem;
  --padding-9xs: 0.25rem;
  --padding-10xs-7: 0.168rem;
  --padding-7xs: 0.375rem;
  --padding-mini: 0.937rem;
  --padding-207xl: 14.125rem;
  --padding-34xl-2: 3.325rem;
  --padding-37xl: 3.5rem;
  --padding-4xl: 1.437rem;
  --padding-94xl: 7.062rem;
  --padding-16xl: 2.187rem;
  --padding-7xl: 1.625rem;
  --padding-xl-5: 1.281rem;
  --padding-2xl-5: 1.343rem;
  --padding-6xl: 1.562rem;
  --padding-6xs: 0.437rem;
  --padding-4xl-6: 1.475rem;
  --padding-23xl-5: 2.656rem;
  --padding-smi-8: 0.8rem;
  --padding-20xl: 2.437rem;
  --padding-27xl-2: 2.887rem;
  --padding-11xl-2: 1.887rem;
  --padding-27xl: 2.875rem;
  --padding-31xl: 3.125rem;
  --padding-29xl-3: 3.018rem;
  --padding-base: 1rem;
  --padding-18xl: 2.312rem;
  --padding-20xl-3: 2.456rem;
  --padding-10xs-3: 0.143rem;
  --padding-21xl: 2.5rem;
  --padding-43xl: 3.875rem;
  --padding-3xl: 1.375rem;
  --padding-smi-7: 0.793rem;
  --padding-41xl: 3.75rem;
  --padding-10xl: 1.812rem;
  --padding-8xl: 1.687rem;
  --padding-249xl: 16.75rem;
  --padding-lgi: 1.187rem;
  --padding-smi: 0.812rem;
  --padding-lgi-5: 1.218rem;
  --padding-10xs: 0.187rem;
  --padding-mid-4: 1.087rem;
  --padding-sm-9: 0.868rem;
  --padding-244xl: 16.437rem;
  --padding-26xl-8: 2.862rem;
  --padding-9xl-5: 1.781rem;
  --padding-7xs-2: 0.325rem;
  --padding-10xs-2: 0.137rem;
  --padding-3xs-2: 0.575rem;
  --padding-9xs-4: 0.212rem;
  --padding-3xs: 0.625rem;
  --padding-sm: 0.875rem;
  --padding-5xs: 0.5rem;
  --padding-8xs-1: 0.256rem;
  --padding-51xl: 4.375rem;
  --padding-3xs-8: 0.612rem;
  --padding-2xs-2: 0.637rem;
  --padding-mid-8: 1.112rem;
  --padding-11xs-9: 0.118rem;
  --padding-4xl-3: 1.456rem;
  --padding-44xl: 3.937rem;
  --padding-12xl: 1.937rem;
  --padding-22xl: 2.562rem;
  --padding-11xs-1: 0.068rem;
  --padding-3xs-6: 0.6rem;
  --padding-3xs-5: 0.593rem;
  --padding-18xl-5: 2.343rem;
  --padding-9xs-3: 0.206rem;
  --padding-6xs-1: 0.381rem;
  --padding-8xs-3: 0.268rem;
  --padding-57xl: 4.75rem;
  --padding-58xl: 4.812rem;
  --padding-mid-5: 1.093rem;
  --padding-base-3: 1.018rem;
  --padding-2xl-9: 1.368rem;
  --padding-base-5: 1.031rem;
  --padding-26xl: 2.812rem;
  --padding-15xl-6: 2.162rem;
  --padding-10xs-8: 0.175rem;
  --padding-4xs: 0.562rem;
  --padding-smi-5: 0.781rem;
  --padding-60xl: 4.937rem;
  --padding-55xl: 4.625rem;
  --padding-29xl: 3rem;
  --padding-15xl: 2.125rem;
  --padding-7xs-4: 0.337rem;
  --padding-66xl: 5.312rem;
  --padding-36xl: 3.437rem;
  --padding-11xl-5: 1.906rem;
  --padding-7xs-5: 0.343rem;
  --padding-2xl: 1.312rem;
  --padding-9xs-5: 0.218rem;
  --padding-12xs-5: 0.031rem;
  --padding-11xs-5: 0.093rem;
  --padding-mid: 1.062rem;
  --padding-28xl: 2.937rem;
  --padding-base-9: 1.056rem;
  --padding-8xs-5: 0.281rem;
  --padding-13xl: 2rem;
  --padding-82xl: 6.312rem;
  --padding-40xl-2: 3.7rem;
  --padding-7xl-7: 1.668rem;
  --padding-6xl-6: 1.6rem;
  --padding-8xl-3: 1.706rem;
  --padding-12xl-2: 1.95rem;
  --padding-8xl-5: 1.718rem;
  --padding-47xl: 4.125rem;
  --padding-140xl-5: 9.968rem;
  --padding-7xl-2: 1.637rem;
  --padding-2xs-6: 0.662rem;
  --padding-xl-7: 1.293rem;
  --padding-sm-8: 0.862rem;
  --padding-33xl: 3.25rem;
  --padding-sm-2: 0.825rem;
  --padding-406xl-3: 26.581rem;
  --padding-406xl: 26.562rem;
  --padding-193xl-6: 13.287rem;
  --padding-87xl-3: 6.643rem;
  --padding-60xl-7: 4.981rem;
  --padding-24xl-2: 2.7rem;
  --padding-sm-3: 0.831rem;
  --padding-mid-9: 1.118rem;
  --padding-13xl-4: 2.025rem;
  --padding-100xl: 7.437rem;
  --padding-220xl: 14.937rem;
  --padding-248xl: 16.687rem;
  --padding-10xs-4: 0.15rem;
  --padding-9xs-2: 0.2rem;
  --padding-11xs-8: 0.112rem;
  --padding-lg-5: 1.156rem;
  --padding-278xl: 18.562rem;
  --padding-129xl: 9.25rem;
  --padding-smi-4: 0.775rem;
  --padding-9xs-8: 0.237rem;
  --padding-5xl-6: 1.537rem;
  --padding-131xl-4: 9.4rem;
  --padding-79xl: 6.125rem;
  --padding-23xl: 2.625rem;
  --padding-822xl-1: 52.568rem;
  --padding-337xl: 22.25rem;
  --padding-212xl: 14.437rem;
  --padding-528xl: 34.187rem;
  --padding-base-8: 1.05rem;
  --padding-mini-2: 0.887rem;
  --padding-26xl-9: 2.868rem;
  --padding-mid-3: 1.081rem;
  --padding-smi-9: 0.806rem;
  --padding-mid-7: 1.106rem;
  --padding-mini-3: 0.893rem;
  --padding-10xl-1: 1.818rem;
  --padding-12xl-8: 1.987rem;
  --padding-251xl: 16.875rem;
  --padding-261xl: 17.5rem;
  --padding-48xl: 4.187rem;
  --padding-121xl: 8.75rem;
  --padding-116xl: 8.437rem;
  --padding-5xs-5: 0.468rem;
  --padding-mini-5: 0.906rem;
  --padding-7xs-3: 0.331rem;
  --padding-5xs-4: 0.462rem;
  --padding-113xl: 8.25rem;
  --padding-162xl: 11.312rem;
  --padding-17xl: 2.25rem;
  --padding-67xl: 5.375rem;
  --padding-99xl: 7.375rem;
  --padding-396xl: 25.937rem;
  --padding-194xl: 13.312rem;
  --padding-120xl: 8.687rem;
  --padding-180xl: 12.437rem;
  --padding-156xl: 10.937rem;
  --padding-87xl: 6.625rem;
  --padding-39xl: 3.625rem;
  --padding-80xl: 6.187rem;
  --padding-71xl: 5.625rem;
  --padding-19xl: 2.375rem;
  --padding-42xl: 3.812rem;
  --padding-35xl: 3.375rem;
  --padding-49xl: 4.25rem;
  --padding-base-7: 0.981rem;
  --padding-12xs-1: 0.006rem;
  --padding-2xs-1: 0.631rem;
  --padding-xs-8: 0.737rem;
  --padding-10xl-2: 1.825rem;
  --padding-40xl: 3.687rem;
  --padding-xs-7: 0.731rem;
  --padding-sm-7: 0.856rem;
  --padding-121xl-8: 8.8rem;
  --padding-167xl-5: 11.656rem;
  --padding-102xl: 7.562rem;
  --padding-50xl-3: 4.331rem;
  --padding-38xl-9: 3.618rem;
  --padding-mini-7: 0.918rem;
  --padding-9xs-7: 0.231rem;
  --padding-11xs-3: 0.081rem;
  --padding-11xs-4: 0.087rem;
  --padding-lg-4: 1.15rem;
  --padding-107xl-9: 7.931rem;
  --padding-63xl: 5.125rem;
  --padding-34xl: 3.312rem;
  --padding-74xl: 5.812rem;
  --padding-52xl: 4.437rem;
  --padding-734xl: 47.062rem;
  --padding-65xl: 5.25rem;
  --padding-4xl-7: 1.481rem;
  --padding-sm-6: 0.85rem;
  --padding-24xl: 2.687rem;
  --padding-lg-2: 1.137rem;
  --padding-6xs-5: 0.406rem;
  --padding-104xl-5: 7.718rem;
  --padding-62xl: 5.062rem;
  --padding-xl-1: 1.256rem;
  --padding-mid-1: 1.068rem;
  --padding-551xl-8: 35.675rem;
  --padding-352xl: 23.187rem;
  --padding-222xl: 15.062rem;
  --padding-9xl-2: 1.762rem;
  --padding-138xl-6: 9.85rem;
  --padding-83xl: 6.375rem;
  --padding-378xl-2: 24.825rem;
  --padding-124xl-4: 8.962rem;
  --padding-76xl: 5.937rem;
  --padding-138xl-5: 9.843rem;
  --padding-239xl: 16.125rem;
  --padding-149xl: 10.5rem;
  --padding-59xl: 4.875rem;
  --padding-29xl-5: 3.031rem;

  /* Border radiuses */
  --br-lg-9: 18.9px;
  --br-3xl-6: 22.6px;
  --br-11xs: 2px;
  --br-base: 16px;
  --br-28xl-6: 47.6px;
  --br-34xl-5: 53.5px;
  --br-35xl-7: 54.7px;
  --br-29xl-7: 48.7px;
  --br-sm: 14px;
  --br-5xl: 24px;
  --br-11xs-2: 1.2px;
  --br-11xs-5: 1.5px;
  --br-10xs: 3px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-7xl-3: 26.3px;
  --br-3xs-9: 9.9px;
  --br-2xs-7: 10.7px;
  --br-xs: 12px;
  --br-10xs-2: 2.2px;
  --br-5xs-7: 7.7px;
  --br-17xl: 36px;
  --br-33201xl-1: 33220.1px;
  --br-9xs: 4px;
  --br-3xs-4: 9.4px;
  --br-5xs: 8px;
  --br-6xs: 7px;
  --br-mini-8: 14.8px;
  --br-8xl-8: 27.8px;
  --br-4xl-2: 23.2px;
  --br-10xs-1: 2.1px;
  --br-37xl-9: 56.9px;
  --br-xl-5: 20.5px;
  --br-sm-1: 13.1px;
}
